<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Passwordinator</title>
</head>

<body>

  <div id="app" v-bind:style="{'width': '100%', 'height': '100%'}">
    <nav v-bind:class="active" v-on:click.prevent>

      <!-- When a link in the menu is clicked, we call the makeActive method,
        defined in the JavaScript Vue instance. It will change the value of "active". -->
      <a id="title" href="#">
        <span><img src="./images/images.png"></span>
        Passwordinator
      </a>
      <a href="#" class="home" v-on:click="makeActive('home')">Home</a>
      <a href="#" class="generator" v-on:click="makeActive('generator')">Password Generator</a>
      <a href="#" class="manager" v-on:click="makeActive('manager')">Password Manager</a>
    </nav>
    <br />
    <br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div v-if="active == 'home'">
      <div class="center">
        <br />
        <h1>Welcome to Passwordinator!</h1>
        <br />
        <p>Use our password generator to generate new, secure passwords, and use our
          password manager to keep track of your passwords and manage your accounts</p>
        <br />
        <br />

        <p>
          <button class="btn btn-secondary" v-on:click="goToGenerator">Password Generator</button>
          <button class="btn btn-secondary" v-on:click="goToManager">Password Manager</button>
        </p>
      </div>
    </div>
    <div v-else-if="active == 'generator'">
      <div class="center">
        <br />
        <h1>Password Generator</h1>
        <br />
        <p>Click the button below to generate a random, secure password</p>
        <br />
        <br />

        <p>
          <button class="btn btn-secondary" v-on:click="generatePassword">Generate Password</button>
        </p>

        <div v-if="password == ''">
        </div>
        <div v-else>
          <h1>{{password}}</h1>
          <br />
        </div>
      </div>
    </div>
    <div v-else>
      <div class="center">
        <br />
        <h1>Password Manager</h1>
        <br />
        <p>Keep track of all of your passwords</p>
        <br />
        <br />
        <div class="center" style="background-color: #606060 !important">
          <br />
          <div v-if="passwordsEmpty">
            <p>No passwords found.</p>
          </div>
          <div v-else>
            <div class="columns" style="text-align: left; display: inline-flex; width: 90%;">
              <div style="width: 10%">
              </div>
              <div style="width: 33%; color: #fff;">
                Username
              </div>
              <div style="width: 33%; color: #fff;">
                Password
              </div>
              <div style="width: 33%; color: #fff;">
                Website
              </div>
            </div>
            <hr style="border-color: #fff !important; width: 90% !important" />
            <div v-for="password in passwords[1]">
              <div class="columns" style="text-align: left; display: inline-flex; width: 90%;">
                <div style="width: 10%">
                </div>
                <div style="width: 33%; color: #fff;">
                  {{password.user}}
                </div>
                <div style="width: 33%; color: #fff;">
                  {{password.pass}}
                </div>
                <div style="width: 33%; color: #fff;">
                  {{password.site}}
                </div>
              </div>
              <br />
            </div>
            <br />
          </div>
        </div>


        <div v-if="passwordEnter">
          <br />
          <br />
          <form v-on:submit.prevent="addPassword" style="width: 50%; margin-left: auto; margin-right: auto;">
            <p>Username: </p>
            <p><input v-model="user" type="text" /></p>
            <p>Password: </p>
            <p><input v-model="pass" type="text" /></p>
            <p>Website: </p>
            <p><input v-model="site" type="text" /></p>
            <p><input type="submit" class="btn btn-secondary"></p>
          </form>
        </div>
        <div v-else>
        </div>

        <br />
        <br />

        <p>
          <button type="button" class="btn btn-primary btn-circle" style="border-radius: 50%; background-color: #007bff !important; text-align: center; padding: 0px; padding-bottom: 2px important!;" v-on:click="showEnter">+</button>
        </p>
      </div>
      <br />
      <br />
      <br />
      <br />
    </div>

    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Fourty-Too/cp3">GitHub Repository</a>
        </li>
      </ul>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
    <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
    <script src="./script.js"></script>

</body>

</html>